img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    margin-bottom: 0.25rem;
    padding: 1rem;
}

h1 {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: azure;
    text-shadow: 2px 2px black;
}

.head {
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 70%;
}

.head p {
    text-align: center;
    color: azure;
    font-weight: bolder;
    text-shadow: 2px 2px black;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    place-items: center;
    align-items: center;
    min-width: 400px;
    max-height: 500px;
    opacity: 0.8;
}

header {
    margin: 2rem;
    padding-bottom: 5rem;
}

#body {
    display: flex;
    flex-direction: column;
    min-width: 800px;
}

#container {
    display: flex;
    flex-direction: column;
    min-width: 600px;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.178), white, grey);
}

#container li {
    font-size: larger;
    padding: 1rem;
}

#aside {
    max-width: 400px;
    max-height: 400px;
    padding: 1rem;
    margin: 1rem;
    background-color: aliceblue;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}

#image {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 1rem;
}